body {
  background-color: black;
  margin: 0;
}


.homescreen-container {
  height: 1000px;
}

.homescreen-header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding-left: 50px;
  padding-right: 50px;

}

.homescreen-header-logo-container {
    background-color: #015869;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 60px;
    height: 60px
    

}

.homescreen-header-logo {
  margin-right: 10px;
  margin-top: 4px;
  width:160px;
  height: 90px
}

.homescreen-header-buttons {
  color: white;
}
